name: 'Node.js CD'

on:
     push:
      branches: [ "develop" ]
 
jobs:
     deploy:
        runs-on: ubuntu-latest
    
      
        steps:
        - uses: actions/checkout@v3
        - uses: akhileshns/heroku-deploy@v3.12.12 
          with:
            heroku_api_key: ${{secrets.HEROKU_API_KEY}}
            heroku_app_name: "airtime2cash-podf" #Must be unique in Heroku
            heroku_email: ${{secrets.HEROKU_API_EMAIL}}
   
  